<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <file>src/Kernel.php</file>
        </exclude>
    </source>
    <!--
      Kein <coverage>-Report in der Default-Config: ohne Coverage-Treiber (pcov/xdebug)
      wuerde PHPUnit sonst warnen und mit Exit 1 abbrechen. Coverage bei Bedarf via
      'php vendor/bin/phpunit --coverage-html var/coverage' mit aktivem Treiber erzeugen.
    -->
</phpunit>
